.Logout {
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  img {
    width: 320px;
    height: auto;
  }

  p {
    font-style: italic;
    font-size: 16px;
  }
}
