body {
  margin: 0;
  padding: 0;
  background-color: #ededed;
  font-family: "Roboto";
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgb(153, 153, 153);
  border: 2px solid white;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(153, 153, 153);
}

* {
  box-shadow: none !important;
}

.m-2 {
  margin: 20px;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
}

.MuiGrid-item {
  overflow: hidden;
}
