.NoService {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  img {
    width: 64px;
    height: 64px;
    opacity: 0.7;
  }
  p {
    font-size: 16px;
    font-weight: 400;
  }
}
